table {
	border-collapse: collapse; 
}

tr, td, th {
	padding: 5px;
	border: 1px solid black;
}

select {
	width: 170px;
}

.picture {
	width: 70px;
	display: inline-block;
	border: 0.5px solid black;
}
.popupclass{
	display:none;
	background-color:green;
	position:absolute;
	top:0px;z-index:9999;
	box-shadow: 6px 6px 5px #888888;
	border:1px solid #4f4f4f;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	text-align:center;
}
.greyBackclass{
	display:none;
	position:absolute;
	top:-30px;
	left:-30px;
	opacity:0.3;
	background-color:black;
	z-index:9998
}
.popupbarclass{
	width:100%;
	background-color:#aaff66;
	position:relative;
	top:0;
	border-radius:6px 6px 0 0;
	text-align:center;
	height:24px;
	cursor:move;
}
.bntcloseclass{
	float:right;
	cursor:pointer;
	padding-right:6px;
}
input:nth-last-child(-n+2){
	padding: 2px 6px;
	box-shadow: 6px 6px 5px #888888;
	border:1px solid #4f4f4f;
	border-radius: 5px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
p {
	margin: 2px;
}
input {
	border-radius: 5px;
	width: 130px;
}
#but_show {
	width: 200px;
	margin: 25px;
	padding: 10px 20px;
	border:1px solid #4f4f4f;
	border-radius: 5px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	font-size: 16px;
}